@charset "utf-8";

/* default style reset */

*{
	box-sizing:border-box;
}

html,body,ul,ol,dl,p,h1,h2,h3,h4,h5,h6{
	margin:0px;
	padding:0px;
}

h1,h2,h3,h4,h5,h6{
	font-weight:500;
	color:#444;
}

ul,ol,dl{
	list-style:none;
}

a{
	color:inherit;
	text-decoration:none;
}

button,input[type="button"]{
	cursor:pointer;
}

button,input{
	outline:none;
}

/* common style settings */

body{
	font-size:14px;
	font-family:'Roboto';
	color:#444;
	font-weight:500;
}

.clearfix:after{
	content:".";
	visibility:hidden;
	display:block;
	height:0;
	clear:both;
	*zoom:1;
}