<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Accounts Management</title>
	</head>
	<body>
		<header id="nav"></header>
		<main class="con clearfix">
			<section class="a-management">
				<div id="ucard"></div>
				<div id="upage"></div>
				<div id="utable"></div>
			</section>
			<section class="a-monitor">
				<div id="cTab"></div>
				<div id="charts"></div>
				<div id="afilter"></div>
				<div id="actions"></div>
				<div id="apage"></div>
			</section>
		</main>
	</body>
	<script src="../dist/js/accounts.js"></script>
</html>