<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8"/>
  	<title>Seed</title>
  </head>
  <body>
    <header id="nav"></header>
    <main>
    	<section id="table"></section>
      <section id="pannel"></section>
      <div class="viewbox clearfix">
        <div class="pattern">
          <section id="patternList"></section>
        </div>
        <div class="seed">
          <section id="seedList"></section>
        </div>
      </div>
    	<section id="pagination"></section>
    </main>
  </body>
  <script src="../dist/js/seed.js"></script>
</html>