<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8"/>
  	<title>Xpath</title>
  </head>
  <body>
    <header id="nav"></header>
    <main class="clearfix">
      <div class="right-pad">
        <section id="xpad"></section>
      </div>
      <div class="left-pad">
        <section id="toolbar"></section>
        <section id="frame"></section>
        <section id="canvas"></section>
        <section id="info"></section>
      </div>
      <div id="loading"></div>
    </main>
  </body>
  <script src="../dist/js/xpath.js"></script>
</html>